.main_linkbutton {
    margin-top: 1.5rem;
    background-color: var(--cor_bg_escuro);
    color: var(--cor_fonte_branco);
    font-size: var(--tam_fonte_header);
    border: none;
    padding: 0.5rem;
    text-decoration: none;
}

.main_linkbutton:active {
    color: var(--cor_fonte_ativo);
}

.main_linkbutton:hover {
    cursor: pointer;
}
