.main_novoprojeto_container {
    min-height: var(--espacamento_footer);
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: auto;
}

.novoprojeto_titulo {
    margin-top: var(--espacamento_titulo);
}

.novoprojeto_paragr {
    margin-top: var(--espacamento_paragrh2);
}
